<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume</title>
    <script src="https://kit.fontawesome.com/fc3cedbe8b.js" crossorigin="anonymous"></script>
    <link href="resume.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <header class="profile-img-holder">
        <img src="https://www.dropbox.com/s/1ylltjyudxymt5v/BeautyPlus_20200527114043226_save.jpg?raw=1" height="150"
             width="150" class="profile-img" alt="Profile image"/>
        <div class="name-holder">
            <span class="name">SATHYASEELAN</span>
        </div>
    </header>
    <div class="address-holder">
        Kangayam, Tiruppur, Tamil nadu, 639701 | +91-759-896-8102 | iamsathyaseelan@gmail.com
    </div>
    <article class="details-container split-equally">
        <div class="left-half border-right">
            <section>
                <div class="section-title">
                    <div class="section-icon-border">
                        <div class="section-icon"><i class="fas fa-user"></i></div>
                    </div>
                    <h3 class="section-title-text">Profile</h3>
                </div>
                <div class="section-details">
                    <p>Enthusiastic software engineer with 3+ years of experiences participating in the complete product
                        development life cycle of successfully launched applications. Proficient with the latest cutting
                        edge technologies like JavaScript, React, React Native, Node, Next JS, and PHP. Able to
                        effectively self-manage during independent projects, as well as collaborate as part of a
                        productive team.</p>
                    <p>
                        <b>Linkedin: </b> <a href="https://www.linkedin.com/in/sathyaseelan-subramaniyam-957860122">https://www.linkedin.com/in/sathyaseelan-subramaniyam-957860122</a>
                    </p>
                </div>
            </section>
            <section>
                <div class="section-title">
                    <div class="section-icon-border">
                        <div class="section-icon"><i class="fas fa-cogs"></i></div>
                    </div>
                    <h3 class="section-title-text">Skills</h3>
                </div>
                <div class="section-details">
                    <div class="skill-container">
                        <div class="skill-title">
                            <p>HTML & CSS</p>
                        </div>
                        <div class="skill-reader">
                            <div class="skill">
                                <div class="having" style="width: 95%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-title">
                            <p>JavaScript</p>
                        </div>
                        <div class="skill-reader">
                            <div class="skill">
                                <div class="having" style="width: 95%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-title">
                            <p>PHP</p>
                        </div>
                        <div class="skill-reader">
                            <div class="skill">
                                <div class="having" style="width: 95%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-title">
                            <p>React</p>
                        </div>
                        <div class="skill-reader">
                            <div class="skill">
                                <div class="having" style="width: 95%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-title">
                            <p>WooCommerce</p>
                        </div>
                        <div class="skill-reader">
                            <div class="skill">
                                <div class="having" style="width: 95%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-title">
                            <p>React Native</p>
                        </div>
                        <div class="skill-reader">
                            <div class="skill">
                                <div class="having" style="width: 80%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-title">
                            <p>MySQL</p>
                        </div>
                        <div class="skill-reader">
                            <div class="skill">
                                <div class="having" style="width: 80%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-title">
                            <p>Node JS</p>
                        </div>
                        <div class="skill-reader">
                            <div class="skill">
                                <div class="having" style="width: 85%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-title">
                            <p>Shopify</p>
                        </div>
                        <div class="skill-reader">
                            <div class="skill">
                                <div class="having" style="width: 70%"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <section>
                <div class="section-title">
                    <div class="section-icon-border">
                        <div class="section-icon"><i class="fas fa-book"></i></div>
                    </div>
                    <h3 class="section-title-text">Education</h3>
                </div>
                <div class="section-details">
                    <div>
                        <div class="position-holder">
                            <div class="position">B.E</div>
                            <div class="positioned-date">Mar, 2013 - Jun, 2017</div>
                            <div class="positioned-at">
                                EBET Group of institutions
                            </div>
                        </div>
                    </div>
                    <br>
                    <div>
                        <div class="position-holder">
                            <div class="position">Higher secondary</div>
                            <div class="positioned-date">Mar, 2010 - Apr, 2013</div>
                            <div class="positioned-at">
                                Sri Mahaa higer secondary school
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="section-title">
                    <div class="section-icon-border">
                        <div class="section-icon"><i class="fas fa-comment"></i></div>
                    </div>
                    <h3 class="section-title-text">Languages</h3>
                </div>
                <div class="section-details">
                    <div class="skill-container">
                        <div class="skill-title">
                            <p>Tamil</p>
                        </div>
                        <div class="skill-reader">
                            <div class="skill">
                                <div class="having" style="width: 95%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-title">
                            <p>English</p>
                        </div>
                        <div class="skill-reader">
                            <div class="skill">
                                <div class="having" style="width: 85%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="section-title">
                    <div class="section-icon-border">
                        <div class="section-icon"><i class="fas fa-hourglass"></i></div>
                    </div>
                    <h3 class="section-title-text">Hobbies</h3>
                </div>
                <div class="section-details">
                    <ul>
                        <li><p>Painting</p></li>
                        <li><p>Listening to Music</p></li>
                        <li><p>Learning with Udemy</p></li>
                    </ul>
                </div>
            </section>
        </div>
        <div class="right-half">
            <section>
                <div class="section-title">
                    <div class="section-icon-border">
                        <div class="section-icon"><i class="fas fa-suitcase-rolling"></i></div>
                    </div>
                    <h3 class="section-title-text">Work experience</h3>
                </div>
                <div class="section-details">
                    <div>
                        <div class="position-holder">
                            <div class="position">Full-stack developer</div>
                            <div class="positioned-date">May, 2018 - Present</div>
                            <div class="positioned-at">
                                CartRabbit Technologies Private Limited
                            </div>
                        </div>
                        <div>
                            <ul>
                                <li>
                                    <p>Developed a Shopify app with technologies like Next JS, React JS, and PostgreSQL
                                        to
                                        recover the abandoned carts using Whatsapp.</p>
                                </li>
                                <li>
                                    <p>Developed a WordPress plugin (Retainful next order coupon for WooCommerce) to
                                        track
                                        abandoned carts and recover those carts by sending a series of automated emails
                                        at
                                        certain time intervals. This plugin also generates one use unique coupons for
                                        customers at the end of every order to make the continuous purchase (Currently
                                        moved
                                        to SaaS and extended with more features like referral program and so on).</p>
                                </li>
                                <li>
                                    <p>Developed a WordPress plugin called WooCommerce email customizer plus to
                                        customize
                                        the email templates in an easy manner without any coding knowledge.</p>
                                </li>
                                <li>
                                    <p>Developed a WordPress plugin called Woo discount rules 2 to give dynamic
                                        discounts
                                        for WooCommerce powered stores.</p>
                                </li>
                                <li>
                                    <p>Worked in accordance with company values to achieve future goals.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="position-holder">
                            <div class="position">PHP Developer</div>
                            <div class="positioned-date">Sep, 2017 - Feb, 2018</div>
                            <div class="positioned-at">
                                POFI Technologies
                            </div>
                        </div>
                        <div>
                            <ul>
                                <li>
                                    <p>Developed an online space rental application like Airbnb using Codeigniter for
                                        rental business.</p>
                                </li>
                                <li>
                                    <p>Involved in developing online grocery selling applications using Laravel.</p>
                                </li>
                                <li>
                                    <p>Involved in customizing the online multi-vendor e-commerce application for
                                        clients.</p>
                                </li>
                                <li>
                                    <p>Served as a friendly, hardworking, and punctual employee.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="section-title">
                    <div class="section-icon-border">
                        <div class="section-icon"><i class="fas fa-skating"></i></div>
                    </div>
                    <h3 class="section-title-text">Extra-curricular Activities</h3>
                </div>
                <div class="section-details">
                    <div>
                        <div class="position-holder">
                            <div class="position">CYBERNOVA 16(Web design) - 2nd Prize</div>
                            <div class="positioned-date">2016</div>
                            <div class="positioned-at">
                                Sri Krishna college of Engineering and Technology
                            </div>
                        </div>
                    </div>
                    <br>
                    <div>
                        <div class="position-holder">
                            <div class="position">ABHIMANN 2.0(Web design) - 1st Prize</div>
                            <div class="positioned-date">2017</div>
                            <div class="positioned-at">
                                Angel college of Engineering and Technology
                            </div>
                        </div>
                    </div>
                    <br>
                    <div>
                        <div class="position-holder">
                            <div class="position">Web Mania(Web design) - 1st Prize</div>
                            <div class="positioned-date">2017</div>
                            <div class="positioned-at">
                                Kongu Engineering College
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </article>
    <footer>
        <div class="footer-holder">
            Thereby authorize you to process my personal data included in my job application for the needs of the recruitment process in accordance with the
            Personal Data Protection Bill 2019.
        </div>
    </footer>
</div>
</body>
</html>

.container {
    width: 100%;
    margin: 0;
}

.profile-img-holder {
    background-color: #565656;
    padding: 25px 0;
    text-align: center;
}

.profile-img {
    margin-top: 10px;
    border: 5px dotted #fabe28;
    border-radius: 50%;
}

.name-holder {
    height: 25px;
    background-color: #eeeeee;
}

.name {
    position: absolute;
    font-size: 36px;
    left: 37%;
    background-color: #fabe28;
    padding: 5px 40px;
    top: 180px;
    line-height: 56px;
    border-radius: 5px;
}

.address-holder {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #cccccc;
    font-size: 18px;
    line-height: 42px;
}
.footer-holder {
    padding: 10px;
    text-align: center;
    border-top: 1px solid #cccccc;
    font-size: 18px;
    line-height: 42px;
}

.details-container {
    padding: 10px;
}

.split-equally {
    display: grid;
}

.left-half {
    grid-column: 1;
    padding: 0 20px;
}

.right-half {
    grid-column: 2;
    padding: 0 20px;
}

.border-right {
    border-right: 1px solid #cccccc;
}

p {
    text-align: justify;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 10px 0;
}

.section-title {
    display: flex;
}

.section-title .section-icon-border {
    border: 3px dotted #fabe28;
    border-radius: 50%;
    margin: 0 10px 0 0;
    height: 34px;
    width: 34px;
}

.section-title .section-icon {
    height: 30px;
    background-color: #3f3f3e;
    margin: 2px;
    border-radius: 50%;
    width: 30px;
}

.section-title .section-icon i {
    color: #fabe28;
    font-size: 14px;
    padding: 9px;
}

.section-title-text {
    font-size: 24px;
    /* line-height: 42px; */
    color: #5e5e5e;
    /*position: absolute;*/
    left: 87px;
    margin-top: 6px;
}

a {
    color: #fabe28;
}

.skill-container {
    display: block;
}

.skill-container .skill-title {
    display: inline-block;
    width: 49%;
}

.skill-container .skill-reader {
    display: inline-block;
    width: 49%;
}

.skill-container .skill {
    background-color: #ececec;
    width: 100%;
    border-radius: 5px;
}

.skill .having {
    text-align: right;
    padding: 10px 0;
    border-radius: 5px;
    background: linear-gradient(to right, #fabe28 0%, #efc88d 100%);
    /*background: #fabe28;*/
}

.position-holder {
    width: 100%;
}

.position-holder .positioned-at {
    clear: both;
    padding: 5px 0 0 0;
}

.position-holder .position {
    font-size: 18px;
    font-weight: 800;
    float: left;
}

.position-holder .positioned-date {
    float: right;
    clear: right;
}
section{
    margin-top: 10px;
}
